:root {
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  background-image: url('back_holi.jpg');
  background-repeat: repeat;
}

* {
  box-sizing: border-box;
  color: #908090;
  font-family: "Roboto Condensed", "sans-serif";
}

*:after, *:before {
  content: " ";
}

.friend-card {
  max-width: 380px;
  max-height: 530px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.3);
  -webkit-perspective: 2000px;
          perspective: 2000px;
}
.friend-card .first-page, .friend-card .second-page {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140%;
  height: 150%;
  cursor: pointer;
}
.friend-card .second-page {
  z-index: 3;
  border-left: 1px solid #ddd;
  background-color: #ffffff;
  background-image: url(back_second.jpg);
  background-repeat: repeat;
  background-position: center;
  text-align: left;
  overflow: hidden;
}
.friend-card .second-page * {
  font-family: "sans-serif";
  color: black;
}
.friend-card .second-page .content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px 1.6em;
}
.friend-card .second-page .sal {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 5px;
}
.friend-card .second-page .message {
  font-size: 1.3em;
}
.friend-card .second-page .closing {
  font-size: 1.8em;
  margin-top: 190px;
  width: 100%;
  text-align: right;
}
.friend-card .first-page {
  z-index: 5;
  background-color: #2b8814;
  background-image: url(https://www.transparenttextures.com/patterns/checkered-light-emboss.png);
  background-repeat: repeat;
  background-position: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
.friend-card .first-page .content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 7;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  font-size: 1em;
  font-weight: bold;
  margin-top: -30px;
  color: #efedef;
  max-width: 100%;
}
.friend-card .first-page .content .your-face {
  width: 330px;
  height: 330px;
  margin: 10px;
  border-radius: 50%;
  border: 7px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.friend-card .first-page .content .name {
  text-align: right;
  font-size: 2em;
  font-family: "Dancing Script", "sans-serif";
  color: #fff;
}
.friend-card .first-page .backface {
  right: 0px;
  bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: auto;
  z-index: 6;
  background-color: #ffffff;
  background-image: url(back_holi1.jpg);
  background-repeat: repeat;
  background-position: center;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.friend-card__open .first-page {
  -webkit-transform: rotateY(-140deg);
          transform: rotateY(-140deg);
}

.midfinger {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 340px;
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
}
.midfinger .finger {
  position: absolute;
  background-color: #908090;
  top: 0;
  left: 0;
}
.midfinger .finger {
  width: 50px;
  height: 170px;
  top: 170px;
}
.midfinger .finger:nth-child(1) {
  left: 68px;
}
.midfinger .finger:nth-child(2) {
  left: 118px;
}
.midfinger .finger:nth-child(3) {
  left: 168px;
}
.midfinger .finger:nth-child(4) {
  left: 218px;
}
.midfinger .finger:nth-child(2) {
  height: 289px;
  top: 51px;
}
.midfinger .finger:nth-child(3), .midfinger .finger:nth-child(2) {
  border-radius: 25px 25px 0 0;
}
.midfinger .finger:nth-child(1) {
  border-radius: 25px 25px 0 25px;
}
.midfinger .finger:nth-child(4) {
  border-radius: 25px 25px 50px 0;
}
.midfinger .finger:nth-child(5) {
  height: 130px;
  border-radius: 25px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  top: 200px;
  left: 68px;
}



@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url('https://fonts.googleapis.com/css?family=Anton');

 h2{
  text-align:center;
}

.rainbow {
  
   /* Font options */
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 4px #000000;
  font-size:40px;
  
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;
  
  /* Standar Syntax */
  animation: rainbow 5s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
   0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
    0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}