html, body {
    overflow: hidden;
    padding:50px;
    color:#fff;
}

body {
background: url(http://www.nhembram.com/images/happy_holi.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

canvas {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0.5;
	opacity:1;
}
div{
    position:relative;
    z-index:1;
    font-size:110px;
    padding:0;
    display: table;
    margin:auto;
    letter-spacing:2px;
    font-family: 'Great Vibes', cursive;
}
P{
    display: table;
    margin:20px auto;
	font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    font-size:8px; 
    letter-spacing:2px;
    position:absolute;
    bottom:180px;
    left:50%;   
    z-index:1; 
    -webit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}


button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    
  }
  button.learn-more {
    height: 120px;
    width: 450px;
    font-size: xx-large;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background:#f5559f;
    border: 2px solid #0037ff;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  button.learn-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100;
    background: #1d8e2b;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #55057d, 0 0.625em 0 0 #e8e32d;
    -webkit-transform: translate3d(0, 0.75em, -1em);
            transform: translate3d(0, 0.75em, -1em);
    -webkit-transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  button.learn-more:hover {
    background: #042eb6;
    -webkit-transform: translate(0, 0.25em);
            transform: translate(0, 0.25em);
  }
  button.learn-more:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
            transform: translate3d(0, 0.5em, -1em);
  }
  button.learn-more:active {
    background: #ffe9e9;
    -webkit-transform: translate(0em, 0.75em);
            transform: translate(0em, 0.75em);
  }
  button.learn-more:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
            transform: translate3d(0, 0, -1em);
  }

